# freycoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.freycoin
host=127.0.0.1

#mainnet default
port=31469

#testnet default
#port=31472

#regtest default
#port=18443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=fcbcb2db
genesis=e1ea18d0676ef9899fbc78ef428d1d26a2416d0f0441d46668d33bcb41275740
input=/home/example/.freycoin/blocks

# testnet
#netmagic=0e091105
#genesis=753b93f5e3938f69d2b33c8c7572b019b12fa877e78581eebd65d349ca8645da
#input=/home/example/.freycoin/testnet2404/blocks

# regtest
#netmagic=fabfb5da
#genesis=08982e71e300f2c7f5b967df5e9b40788942abd4bc62edaeabd27d351f953b68
#input=/home/example/.freycoin/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
